extends _layout

block vars
  - var title= '開催概要'

block article
  div.row
    div.col-md-10.col-md-offset-1
      h2 開催部門
      table.table.table-responsive
        tbody
          tr
            th.col-md-3 競技部門
            td.col-md-7 プロコン競技部門と同様の内容
          tr 
            th 自由部門
            td プログラミング作品
          tr
            th メディアコンテンツ部門
            td 動画・静止画・DTMなど


      h2 開催期間
      p 平成27年3月10日(火) ~ 平成27年3月12日(木)
