extends _layout

block vars
  - var title= '日程'

block article
  div.row
    div.col-md-10.col-md-offset-1
      h2 3月10日(火)
      table.table.table-responsive
        tbody
          tr
            th.col-md-3 18:30 ~ 19:30
            td.col-md-7 部長会議

      h2 3月11日(水)
      table.table.table-responsive
        tbody
          tr
            th.col-md-3 8:00 ~
            td.col-md-7 路線バスで移動(松江駅前→松江高専)
          tr
            th 9:00 ~ 10:00
            td 展示準備
          tr
            th 10:00 ~
            td 開会式
          tr
            th 10:30 ~
            td 競技部門 競技開始、 ソフトウェア部門・メディアコンテンツ部門 展示開始
          tr
            th 12:00 ~ 13:00 
            td 昼食、休憩(弁当配布)
          tr
            th 13:00 ~
            td プレゼンテーション
          tr
            th 14:45 ~ 15:15
            td 片付け
          tr 
            th 15:15 ~ 15:45
            td 結果発表・閉会式
          tr
            th 16:00 ~ 
            td 路線バスで移動(松江高専→松江駅)
          tr 
            th 19:30 ~ 21:30
            td 情報交換会


      h2 3月12日(木)
      table.table.table-responsive
        tbody
          tr
            th.col-md-3 ~ 10:00
            td.col-md-7 解散

