// main
main
  header
    div.jumbotron
      div.container
        div.text-center
          - var title = title == 'トップ' ? 'Comfes2015 in Matsue' : title
          h1 #{title}
  article
    div.container
      yield
