// footer
footer
  div.footer

    hr 

    div.container
      div.text-muted.text-center 
        p: small 
          |(c) 2015 松江工業高等専門学校 情報科学研究部
          br
          |github: 
          a(target="_blank", href="https://github.com/comfes2015/comfes2015.github.io") comfes2015/comfes2015.github.io
